.custom-modal-body {
    text-align: center;
    &  > .info-icon {
      font-size: 35px;
      color: #39afd1;
      margin-bottom: 8px;
      margin: 0 24px;
    }
    & > .modal-info-text{
      color: #555780;
      font-size: 20px;
      font-weight: 400;
      padding-bottom: 10px;
    }
    & > .modal-subtext {
      font-size: 16px;
      color: #000;
      font-weight: bold;
    }
    & > .modal-text {
      color: #000;
      opacity: 0.7;
      font-size: 14px;
    }
  }

  .custom-modal-footer {
    margin: auto;
    &  .modal-btn {
      width: 100px;
      border: none;
      max-width: 100px;
      padding: 5px 12px;
      color: #fff;
      &.close-modal-btn {
        background-color: #39afd1;
      }
      &.continue-modal-btn {
        background-color: brown;
      }
    }
}